.link {
  display: flex;
  width: 100%;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.cardContainer {
  position: relative;
  background-color: var(--color-surface);
  width: 90%;
  max-width: 400px;
  border-radius: 5px;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.mainDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-text-primary);
  flex-grow: 1;
  overflow: hidden;
  padding-right: 0.5rem;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0;
}

/* Fade-out effect */
.title::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--color-surface));
}

.cardSubHeader p {
  display: flex;
  justify-content: flex-start;
  color: var(--color-text-secondary);
  margin: 0;
}

.cardIcon {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.entryDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
  color: var(--color-text-secondary);
}

.date {
  color: var(--color-text-secondary);
}

.started {
  color: var(--color-accent-green);
  border: 1px solid var(--color-accent-green);
  border-radius: 35px;
  padding: 0 0.7rem;
}

.completed {
  color: var(--color-accent-purple);
  border: 1px solid var(--color-accent-purple);
  border-radius: 35px;
  padding: 0 0.7rem;
}

.revisited {
  color: var(--color-accent-cyan);
  border: 1px solid var(--color-accent-cyan);
  border-radius: 35px;
  padding: 0 0.7rem;
}

.paused {
  color: var(--color-accent-yellow);
  border: 1px solid var(--color-accent-yellow);
  border-radius: 35px;
  padding: 0 0.7rem;
}

.dropped {
  color: var(--color-accent-magenta);
  border: 1px solid var(--color-accent-magenta);
  border-radius: 35px;
  padding: 0 0.7rem;
}
