.lifetimeCardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yearlyCardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endMessageDecoration {
    color: var(--color-text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.endMessage {
    color: var(--color-text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}