.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: var(--color-accent-purple);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: transform 0.08s cubic-bezier(0.4, 0, 0.2, 1);
    width: 250px;
    /* Add these properties to normalize rendering */
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.2;
    min-height: 44px; /* Ensures consistent height */
    display: flex;
    align-items: center;
    justify-content: center;
}

button:disabled,
button:disabled:active {
    color: #a987e2;
    transform: none;
    transition: none;
    cursor: not-allowed;
}

.button--cyan {
    background-color: var(--color-accent-cyan);
}

.button--green {
    background-color: var(--color-accent-green);
}

.button--magenta {
    background-color: var(--color-accent-magenta);
}

.button--yellow {
    background-color: var(--color-accent-yellow);
}

.button:active {
    transform: scale(0.92);
    transition: transform 0.08s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    display: inline-flex;
    margin-right: 0.5rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.text {
    display: inline-flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}