.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Make sure it's above the content */
    height: var(--header-height);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent-purple);
    color: #FFFFFF;
    padding: 0 1rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo {
    font-family: 'Silkscreen', cursive;
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
}

.buttonWrapper {
    position: absolute;
    right: 0.2rem;
    /* Align button to the text */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}